<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/stylesheets/style.css"/>    
    <link rel="stylesheet" href="/stylesheets/blog.css"/>  
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} - Q Blog</title>
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          <a class="blog-nav-item" href="/newpost">New</a>
          {% if not is_login %}
            <a class="blog-nav-item" href="./login">Login</a>
            <a class="blog-nav-item" href="./signup">Signup</a>
          {% else %}
            <a class="blog-nav-item" href="./logout">{{is_login.name}} Logout</a>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">The Q Blog</h1>
            <p class="lead blog-description">Creating a blog for uda.</p>
        </div>
        <div class="row">
            <div class="blog-main col-sm-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="blog-footer">
        {% block footer %}
        &copy; Copyright 2016 by Q.
        {% endblock %}
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
    {% block scripts %}
    {% endblock %}
</body>

</html>