{% extends "base.html" %}
{% block title %}Edit Comment{% endblock %}

{% block content %}		
	<div class="error">{{error}}</div>
	<div>
		<form method="post">
			<div class="form-group">
				<label for="body">Comment to {{blog_title}}</label>
				<textarea class="form-control" rows="5" name="comment_body" id="body">{{comment_body}}</textarea>
			</div>
            <input class="hidden" name="comment_id" value=”{{comment_id}}">
			<button type="submit" class="btn btn-default">Edit</button>
		</form>
	</div>

	<!--<h1>Edit Comment</h1>
	<br>
	<br>

	<form method="post">
		<label>
			<div>Edit your comment to {{blog_title}}</div>
			<textarea name="comment_body">{{commnet_body}}</textarea>
		</label>
        <input class="hidden" name="comment_id" value=”{{comment_id}}">
		<div class="error">{{error}}</div>
		<input type="submit" value="Edit">
	</form>-->

{% endblock %}