{% extends "base.html" %}
{% block title %}Edit Blog{% endblock %}

{% block content %}		
	<div class="error">{{error}}</div>
	<div>
		<form method="post">
			<div class="form-group">
				<label for="body">{{title}}</label>
				<textarea class="form-control" rows="5" name="body" id="body">{{body}}</textarea>
			</div>
	        <input class="hidden" name="id" type="text" value="{{id}}">
			<button type="submit" class="btn btn-default">Edit</button>
			<a class="btn" href="/{{id}}" >cancel</a>
		</form>
	</div>
{% endblock %}
