{% extends "base.html" %}
{% block title %}Edit Blog{% endblock %}

{% block content %}		
	<h1>Edit Blog</h1>
	<br>
	<br>

	<form class="blog" method="post">
		<div class="blog-title">{{title}}</div>
        <!--<input class="hidden" name="id" type="text" value="{{id}}">-->
		<input class="blog-body" name="body" type="text" value="{{body}}">
        <div class="error">{{error}}</div>
        <input class="btn" type="submit" value="confirm">
        <a class="btn" href="/{{id}}" >cancel</a>
	</form>
{% endblock %}
