{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block content %}		

	<div>
		<form method="post">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username">
				<div class="error">{{signError.username_error}}</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" id="password">
				<div class="error">{{signError.password_error}}</div>
			</div>
			<div class="form-group">
				<label for="verify">Verify Passwor</label>
				<input type="password" class="form-control" name="verify" id="verify">
				<div class="error">{{signError.verify_error}}</div>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" id="email">
			</div>
			<button type="submit" class="btn btn-default">Signup</button>
		</form>
	</div>

	<!--<h1>Signup</h1>
	<form method="post">
		<table>
			<tbody>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
					<td>{{signError.username_error}}</td>
				</tr>
				<tr><td>Password</td>
					<td><input type="text" name="password"></td>
					<td>{{signError.password_error}}</td>
				</tr>
				<tr><td>Verify Password</td>
					<td><input type="text" name="verify"></td>
					<td>{{signError.verify_error}}</td>
				</tr>
				<tr>
					<td>Email(optional)</td>
					<td><input type="text" name="email"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Submit">
	</form>-->
{% endblock %}


